{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- hero area -->
{{ with $data.homepage.banner }}
<section class="hero-section bg-cover position-relative overlay"
  style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="hero-content">
    <div class="container">
      <div class="row">
        <div class="col-md-90 mx-auto text-center">
          <!-- Tijdelijke oplossing #1-->
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h1 class="text-white mb-5 text-capitalize">Oeps...</h1>
          <h4 class="text-light mb-4 mx-lg-5 px-lg-5 content">De pagina die je zoekt bestaat helaas niet</h4>
          <!-- Tijdelijke oplossing #2-->
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</section>
<!-- /hero area -->
<!-- cta -->
{{ if $data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

<!-- cta2 -->
{{ if $data.homepage.cta2.enable }}
{{ partial "cta2.html" . }}
{{ end }}


{{ end }}