{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- team -->
<h5 class="text-center">Kroescontrol is enkele jaren geleden opgericht door Serge Kroes met het doel een bedrijf op te bouwen waarin fun en IT centraal staan. 
  In 2019 zijn zowel Pim als Daniël deel gaan uitmaken van Kroescontrol en wordt er hard gewerkt aan verdere uitbreiding. 
  Bij Kroescontrol staat fun echt centraal, enthousiaste mensen leveren beter werk en hebben simpelwel veel plezier samen. 
  Voorlopig willen wij zo veel mogelijk van dat soort mensen bij elkaar verzamelen om een mooi bedrijf op te bouwen waarin iedereen met plezier aan IT kan werken.
  Qua werkzaamheden verrichten wij momenteel werk als trainers en cloud engineers, maar wij verkennen wel de mogelijkheid om dit aanbod te verbreden.</h5>
<section class="section pb-0">
  <div class="container">
    <div class="row no-gutters">
      {{ range .Data.Pages }}
      <div class="col-lg-3 col-sm-6">
        <div class="card hover-shadow">
          <img src="{{ .Params.Image | absURL }}" alt="team-member" class="card-img-top">
          <div class="card-body text-center position-relative zindex-1">
            <h4><a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a></h4>
            <i>{{ .Params.Designation | markdownify }}</i>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /team -->

{{ if .Site.Data.team.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

{{ if .Site.Data.team.clientsLogo.disable }}
{{ partial "clients-logo.html" . }}
{{ end }}

{{ end }}