{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 mobile-height mb-5 mb-lg-0" id="map_canvas">
        {{ partial "map-container.html" . }}
      </div>
      <div class="col-lg-4">
        <div class="p-5 bg-secondary">
          <h3 class="text-white border-bottom pb-4 mb-5">{{i18n "keep_in_touch"}}</h3>
          <div class="mb-4">
            <h6 class="text-white">{{ i18n "address" }}</h6>
            <p>{{ .Site.Params.address | markdownify }}</p>
          </div>
          <div class="mb-4">
            <h6 class="text-white">{{ i18n "email" }}</h6>
            <p>{{ .Site.Params.email | markdownify }}</p>
          </div>
          <div class="mb-4">
            <h6 class="text-white">{{ i18n "mobile" }}</h6>
            <p><a href="tel:{{ .Site.Params.mobile | markdownify }}"><img src="/images/smallicon/icons8-mobile-phone-48.png" width=20 heigth=20 alt="Bel of stuur een sms">{{ .Site.Params.mobile | markdownify }}</a></p>
            <p><a href="https://wa.me/31634116494"><img src="/images/smallicon/WhatsApp_Logo_7.png" width=20 heigth=20 alt="Een bericht sturen via Whatsapp"> Whatsapp</a></p>
            <p><a href="skype:skroes_ebay?chat"><img src="/images/smallicon/skype.png" width=20 heigth=20 alt="even Skype'n"> Skype</a></p>
            <p><a href="https://us04web.zoom.us/j/8112147050"><img src="/images/smallicon/zoom.png" width=20 heigth=20 alt="Videobellen via Zoom"> Zoom</a></p>
            <p><a href="https://calendly.com/kroescontrol/10-minuten"><img src="/images/smallicon/icons8-planner-48.png" width=20 heigth=20 alt="Calendly helps you schedule meetings without the back-and-forth emails"> Plan een gesprek via calendly</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Kunnen we je ergens mee helpen?</h2>
      </div>
      <div class="col-lg-12 text-center">
        <form action="{{ .Site.Params.contact_form_action }}" method="POST" class="row">
          <div class="col-lg-6">
            <input name="email" type="text" class="form-control mb-4" placeholder="Email" required>
          </div>
          <div class="col-lg-6">
            <input name="name" type="text" class="form-control mb-4" placeholder="Naam" required>
          </div>
          <div class="col-lg-12">
            <input name="subject" type="text" class="form-control mb-4" placeholder="Onderwerp" required>
          </div>
          <div class="col-lg-12">
            <textarea name="message" class="form-control mb-4" placeholder="Bericht"></textarea>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Verstuur</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{{ end }}